/*
** main_window
*/

box.document {
    background: @view_bg_color;
}
box.document textview {
    line-height: 1.1;
}
button.new-document-menu-button {
    padding-left: 8px;
    padding-right: 8px;
}
scrollbar.hidden slider {
    opacity: 0;
}
headerbar > windowhandle > box {
    padding-top: 0px;
    padding-bottom: 0px;
}
headerbar > windowhandle > box > box.start, headerbar > windowhandle > box > box.end {
    padding-top: 6px;
    padding-bottom: 6px;
}
headerbar menubutton {
    margin-top: 0px;
    margin-bottom: 0px;
}
headerbar button {
    margin-top: 0px;
    margin-bottom: 0px;
}
headerbar togglebutton {
    margin-top: 0px;
    margin-bottom: 0px;
}

/*
** welcome-screen
*/

box.welcome {
    padding-top: 75px;
    padding-bottom: 75px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 150px;
    background: radial-gradient(@window_bg_color 10%, @window_bg_color 30%, mix(@window_bg_color, transparent, 0.99) 50%) -75px 0px, radial-gradient(@window_bg_color 10%, mix(@window_bg_color, transparent, 0.99) 50%) 75px 0px;
}
label.welcome-header {
    font-size: 32pt;
    padding-bottom: 18px;
    font-weight: 200;
}
label.welcome-description {
}
headerbar.welcome {
}

/*
** open documents
*/

box.documentchooser {
    margin: 0px;
}
box.documentchooser entry {
    margin-bottom: 6px;
    transition: none;
}
box.documentchooser scrolledwindow {
    margin-bottom: 12px;
}
box.documentchooser box.not_found {
    margin-bottom: 12px;
}
box.documentchooser box.not_found image {
    opacity: 0.5;
}
box.documentchooser box.not_found label {
    opacity: 0.65;
}

/* 
** tab switching
*/

button.open-docs-popover-button {
    margin: 0px;
    padding: 0px;
    padding-left: 8px;
    padding-right: 18px;
    border-radius: 0px;
    box-shadow: none;
    font-weight: normal;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
button.open-docs-popover-button:hover:not(:checked):not(:active) {
    border-left: 1px solid @borders;
    border-right: 1px solid @borders;
}
button.open-docs-popover-button:checked, button.open-docs-popover-button:active {
    border-left: 1px solid @borders;
    border-right: 1px solid @borders;
}
box.documentswitcher scrolledwindow {
    border-bottom: 1px solid @borders;
    margin-bottom: 6px;
}
box.documentswitcher scrollbar slider {
    min-height: 12px;
}
box.documentswitcher scrollbar {
    margin-right: -6px;
}

/*
** build widget
*/

box.build-widget button {
    margin-left: 6px;
}
box.build-widget label.build-timer {
    padding: 6px 12px;
}

/*
** build log
*/

box.buildlog > box {
    background: @view_bg_color;
}
box.buildlog > box label {
    padding-left: 12px;
}
box.buildlog > box button {
    margin: 6px;
}

/*
** popover
*/

@keyframes popover-animation {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
box.popover {
    animation-name: popover-animation;
    animation-duration: 0.2s;
    animation-timing-function: ease;
}
box.popover .content {
    background: @popover_bg_color;
    padding: 6px;
    padding-top: 5px;
    border-radius: 10px;
    border: 1px solid @borders;
}
box.popover .arrow {
    min-width: 10px;
    min-height: 10px;
    background: @popover_bg_color;
    border: 1px solid @borders;
    transform: translateY(9px) scale(2, 2) rotate(-45deg);
}
box.popover .arrow-border {
    min-width: 25px;
    min-height: 1px;
    background: @popover_bg_color;
    transform: translateY(-6px);
}
box.popover button.action, box.popover button.menu, box.popover button.header {
    background: none;
    font-weight: normal;
}
box.popover button.action:hover, box.popover button.menu:hover, box.popover button.header:hover {
    background: @view_hover_color;
    transition: none;
}
box.popover button.action:active, box.popover button.menu:active, box.popover button.header:active {
    background: @borders;
}
box.popover button.header {
    font-weight: bold;
}
box.popover button.highlight:not(:disabled) {
    background: @view_hover_color;
}
box.popover button.highlight:active {
    background: @borders;
}
box.popover button label.shortcut {
    color: @menu_shortcut_color;
    margin-left: 18px;
}
box.popover button image.icon {
    padding-top: 2px;
    padding-right: 8px;
}
box.popover separator {
    margin: 6px 0px;
}
box.popover label.explaination {
    margin: 0px 10px;
    color: @description_color;
    font-size: 13px;
}
box.popover label.explaination-header {
    margin: 0px 10px;
    font-weight: bold;
}
button.popover.active {
    background: #b3b3b3;
    background: @headerbar_button_active_color;
}

/*
** popover menus
*/

popover arrow {
    background: @popover_bg_color;
}
popover contents {
    background: @popover_bg_color;
}
popover button.action, popover button.menu, popover button.header {
    background: none;
    font-weight: normal;
}
popover button.action:hover, popover button.menu:hover, popover button.header:hover {
    background: @view_hover_color;
}
popover button.action:active, popover button.action:focus, popover button.menu:active, popover button.menu:focus, popover button.header:active, popover button.header:focus {
    background: @borders;
}
popover button label.shortcut {
    color: @menu_shortcut_color;
    margin-left: 18px;
}
popover button image.icon {
    padding-top: 2px;
    padding-right: 8px;
}
popover separator {
    margin: 6px 0px;
}
popover label.explaination {
    margin: 0px 10px;
    color: @description_color;
    font-size: 13px;
}
popover label.explaination-header {
    margin: 0px 10px;
    font-weight: bold;
}

/*
** sidebar
*/

.sidebar {
    background-color: @view_bg_color;
}
.sidebar box.tabs-box {
    background-color: @view_bg_color;
    border-bottom: 1px solid @lighter_border;
    padding-bottom: 0px;
}
.sidebar box.tabs-box.no-border {
    border-bottom-width: 0px;
    padding-bottom: 1px;
}
.sidebar box.tabs-box > label {
    padding: 1px 0px 0px 9px;
    background-color: @view_bg_color;
}
.sidebar box.tabs-box button {
    border-width: 0px;
    margin: 0px;
    box-shadow: none;
    border-radius: 0px;
    padding: 6px;
}
box.sidebar-symbols {
    background-color: @view_bg_color;
}
box.sidebar-symbols label {
    padding: 9px 8px 8px 9px;
    background-color: @view_bg_color;
    border-bottom: 1px solid @lighter_border;
}
box.sidebar-symbols label.overlay {
    border-bottom-width: 0px;
}
box.sidebar-symbols flowbox {
    background-color: @view_bg_color;
    padding-bottom: 36px;
}
box.sidebar-symbols flowbox flowboxchild {
    padding: 0px;
}
box.sidebar-symbols flowbox flowboxchild image {
    color: @view_fg_color;
    background-color: @view_bg_color;
    border-bottom: 1px solid @lighter_border;
    border-right: 1px solid @lighter_border;
    margin: 0px;
    padding: 5px;
}
box.sidebar-symbols flowbox flowboxchild image.no_right_border {
    border-right: 1px solid transparent;
}
box.sidebar-symbols box.search_bar {
    padding-left: 6px;
    padding-right: 6px;
}
box.sidebar-symbols box.search_bar button {
    margin-left: 6px;
}
.sidebar-document-structure scrolledwindow label.headline {
    padding: 9px 8px 8px 9px;
    background-color: @view_bg_color;
    border-bottom: 1px solid @lighter_border;
}
.sidebar-document-structure label.overlay {
    padding: 9px 8px 8px 9px;
    background-color: @view_bg_color;
}
box.document-stats .description {
    color: @description_color;
    font-size: 13px;
    padding: 9px 8px 8px 9px;
}
box.document-stats box {
    padding: 3px 8px 3px 9px;
}
box.document-stats label.stats-paragraph {
    padding: 3px 8px 3px 9px;
}
box.document-stats {
    margin-bottom: 24px;
}

/*
** shortcuts bar
*/

box.shortcutsbar {
    background-color: @view_bg_color;
    border-bottom: 1px solid @lighter_border;
}
box.shortcutsbar button.scbar, box.shortcutsbar menubutton.scbar > button {
    border-width: 0px;
    margin: 0px;
    box-shadow: none;
    border-radius: 0px;
    padding: 6px;
}

/*
** preview
*/

box.preview > box {
    background-color: @view_bg_color;
    border-bottom: 1px solid @lighter_border;
}
box.preview button.scbar, box.preview .scbar > button {
    border-width: 0px;
    margin: 0px;
    box-shadow: none;
    border-radius: 0px;
    padding: 6px;
}
.zoom-level-button {
    padding-top: 3px;
    background: @view_bg_color;
    border: 1px solid @borders;
    border-radius: 3px;
    font-weight: normal;
}
.paging-widget {
    padding-top: 9px;
    padding-left: 9px;
}
label.target-label {
    border-top: 1px solid @borders;
    border-right: 1px solid @borders;
    border-top-right-radius: 3px;
    padding: 3px 6px 3px 6px;
    background-color: @view_bg_color;
}
box.preview_blank {
    background-color: @blank_preview_color;
}
box.preview_blank image {
    opacity: 0.5;
    margin-bottom: 5px;
}
box.preview_blank label.header {
    opacity: 0.5;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
}
box.preview_blank label.body {
    opacity: 0.65;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 55px;
}

/*
** help
*/

box.help {
    background-color: @view_bg_color;
}
box.help > box {
    background-color: @view_bg_color;
    border-bottom: 1px solid @lighter_border;
}
box.help > box button {
    border-width: 0px;
    margin: 0px;
    box-shadow: none;
    border-radius: 0px;
    padding: 6px;
}
box.help > box button label {
    text-decoration: underline;
}
label.location-label {
    margin-top: 2px;
    margin-bottom: 5px;
    font-size: 9pt;
    color: @location_label_color;
}

/*
** search bar
*/

box.search_bar {
    background-color: @view_bg_color;
    border-top: 1px solid @borders;
    padding: 6px;
    padding-left: 0px;
}
box.search_bar button.close {
    background: @view_bg_color;
    border-width: 0px;
}
box.search_bar button.text-button {
    padding-left: 11px;
    padding-right: 11px;
}
box.search_bar entry.search_entry {
}
.search_match_counter {
    color: @description_color;
}

/*
** preferences
*/

box.preferences-page checkbutton {
    padding-left: 0px;
}
box.preferences-page checkbutton check {
    margin-left: 1px;
    margin-right: 6px;
}
box.preferences-page checkbutton radio {
    margin-left: 1px;
    margin-right: 6px;
}
box.preferences-page .description {
    color: @description_color;
    font-size: 13px;
}
box.preferences-page .preview {
    border-top: 1px solid @borders;
    margin-top: 18px;
}
box.preferences-page .preview textview {
    padding: 18px;
}
box.preferences-page flowboxchild {
    border: 1px solid @borders;
    border-radius: 5px;
    padding: 0px;
    margin-right: 6px;
}
box.preferences-page flowboxchild:selected {
    border: 1px solid @accent_bg_color;
}
box.preferences-page GtkSourceStyleSchemePreview textview {
    border-radius: 5px;
    padding: 0px;
    margin: 0px;
}
box.preferences-page GtkSourceStyleSchemePreview image {
    background: @accent_bg_color;
    color: @accent_fg_color;
    border-radius: 10px;
    padding: 2px;
    margin: 4px;
}

/*
** document wizard
*/

label.wizard-button-label {
    font-weight: normal;
    text-decoration: underline;
}
box.document-wizard-page checkbutton {
    padding-left: 0px;
}
box.document-wizard-page checkbutton check, box.document-wizard-page checkbutton radio {
    margin-left: 1px;
    margin-right: 6px;
}
box.document-wizard-page scale {
    padding: 0px;
    padding-left: 1px;
}
box.document-wizard-page scale value {
    margin-left: 3px;
    margin-bottom: 3px;
    color: @window_fg_color;
    opacity: 1;
}
box.document-wizard-page button {
    font-weight: normal;
}
list.document-wizard-list1 {
    border: 1px solid @borders;
}
list.document-wizard-list1 row {
    border-bottom: 1px solid @list_row_border_color;
    padding: 6px;
}
list.document-wizard-list2 row {
    border-bottom: 1px solid @list_row_border_color;
    padding: 6px;
}
label.document-wizard-header {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 6px;
}
label.document-wizard-subheader {
    font-weight: bold;
    margin-bottom: 6px;
    padding-top: 6px;
}
label.document-wizard-option-desc {
    color: @description_color;
    font-size: 13px;
    margin-left: 26px;
    margin-bottom: 6px;
}
label.document-wizard-desc {
    color: @description_color;
}
scrolledwindow.document-wizard-scrolledwindow {
    border: 1px solid @borders;
}
box.document-wizard-beamer-preview-stack-wrapper {
    border: 1px solid @borders;
}
box.document-wizard-beamer-preview-buttons button {
    padding: 0px;
    border-radius: 0px;
    box-shadow: none;
    border: 1px solid @borders;
}
box.document-wizard-page box.margins-box {
    border: 1px solid @borders;
    background-color: @view_bg_color;
}
box.document-wizard-page box.margins-box spinbutton.left {
    border-left: 0px;
}
box.document-wizard-page box.margins-box spinbutton.right {
    border-right: 0px;
}
box.document-wizard-page box.margins-box spinbutton.top {
    border-top: 0px;
}
box.document-wizard-page box.margins-box spinbutton.bottom {
    border-bottom: 0px;
}


/* Add / Remove Packages */

box.add-remove-packages-add-box {
    padding: 18px;
    border-bottom: 1px dotted @borders;
}
box.add-remove-packages-add-box scrolledwindow {
    border: 1px solid @borders;
}
box.add-remove-packages-add-box list row {
    border-bottom: 1px solid @list_row_border_color;
    padding: 6px;
}
box.add-remove-packages-remove-box scrolledwindow {
    border: 1px solid @borders;
}
box.add-remove-packages-remove-box list row {
    border-bottom: 1px solid @list_row_border_color;
    padding: 6px;
}

/* BibTeX */

.include-bibtex-file-dialog .stack-wrapper {
    border: 1px solid @borders;
}
.include-bibtex-file-dialog button {
    outline-width: 0px;
}
.include-bibtex-file-dialog checkbutton {
    padding-left: 0px;
}
.include-bibtex-file-dialog checkbutton check {
    margin-left: 1px;
    margin-right: 6px;
}
.bibtex-wizard-list1 {
    border: 1px solid @borders;
}
.bibtex-wizard-list1 row {
    border-bottom: 1px solid @list_row_border_color;
    padding: 6px;
}
box.bibtex-wizard-page checkbutton {
    padding-left: 0px;
}
box.bibtex-wizard-page checkbutton check {
    margin-left: 1px;
    margin-right: 6px;
}
label.bibtex-wizard-header {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 6px;
}


